@media screen and (max-width: 766px) {
  .header {
    position: relative;

    &__menu {
      display: none;
    }

    &__hamburger {
      display: flex;
    }
  }

  .hero {
    &__container {
      @include flex-center;
      flex-direction: column;
    }

    &__image {
      display: none;
    }
  }

  .banner {
    &__showcase {
      @include column;
      gap: 5rem 0;
    }
  }

  .about {
    &__container {
      @include column;
      gap: 5rem 0;
    }
  }

  .category {
    &__content {
      @include grid(2, 2);
      gap: 3rem;
    }
  }

  .jobs {
    &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .author {
    &__container {
      @include column;
      gap: 5rem 0;
    }
  }

  .footer {
    &__wrapper {
      display: none;
    }
  }
}
