@media screen and (max-width: 766px) {
  .header {
    position: relative;

    &__menu {
      display: none;
    }

    &__hamburger {
      display: flex;
    }
  }

  .hero {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__image {
      display: none;
    }
  }

  .banner {
    &__showcase {
      display: flex;
      flex-direction: column;
      gap: 5rem 0;
    }
  }

  .about {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 5rem 0;
    }
  }

  .category {
    &__content {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;
    }
  }

  .jobs {
    &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .author {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 5rem 0;
    }
  }

  .footer {
    &__wrapper {
      display: none;
    }
  }
}
