.about {
  margin-top: 18rem;

  &__container {
    @include space-between;
  }

  &__img {
    @include size(47rem, 49.2rem);

    img {
      @include size(100%);
      object-fit: cover;
    }
  }

  &__content {
    max-width: 47rem;
    width: 100%;
  }

  &__title {
    @include font-medium-setting(700, 4.6rem, 5.6rem);
  }

  &__subtitle {
    margin-top: 1.6rem;
    font-family: "Poppins", sans-serif;
    @include font-full-setting(400, 1.6rem, 2.8rem, $gray);
  }

  &__benefit {
    margin-top: 2.6rem;
    @include column;
    gap: 1.2rem 0;

    &-item {
      @include align-center;
      gap: 0 1rem;

      svg {
        @include size(1.8rem, 1.2rem);
      }

      p {
        font-family: "Poppins", sans-serif;
        @include font-medium-setting(500, 1.6rem, 2.8rem);
      }
    }
  }
}
