.about {
  margin-top: 18rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    width: 47rem;
    height: 49.2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 47rem;
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 5.6rem;
  }

  &__subtitle {
    margin-top: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: $gray;
  }

  &__benefit {
    margin-top: 2.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem 0;

    &-item {
      display: flex;
      align-items: center;
      gap: 0 1rem;

      svg {
        width: 1.8rem;
        height: 1.2rem;
      }

      p {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.8rem;
      }
    }
  }
}