.author {
  margin-top: 18rem;

  &__container {
    @include space-between;
    gap: 0 13rem;
  }

  &__img {
    @include size-max(47rem, 51rem);

    img {
      @include size(100%);
      object-fit: cover;
    }
  }

  &__title {
    display: inline-block;
    max-width: 46.6rem;
    @include font-medium-setting(700, 4.6rem, 5.6rem);
  }

  &__subtitle {
    margin-top: 7rem;
    display: inline-block;
    max-width: 57rem;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    @include font-full-setting(500, 2.6rem, 3.8rem, #5e626e);
  }

  &__info {
    margin-top: 3.8rem;
  }

  &__name {
    font-family: "Poppins", sans-serif;
    @include font-medium-setting(600, 1.8rem, 3rem);
  }

  &__jobs {
    font-family: "Poppins", sans-serif;
    @include font-full-setting(400, 1.4rem, 2.6rem, $gray);
  }
}
