.card {
  @include flex-center;
  flex-direction: column;
  gap: 3.8rem 0;
  padding: 5rem;
  transition: all 0.1s linear;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  &__icon {
    @include size(8.8rem);
  }

  &__title {
    @include font-medium-setting(600, 2rem, 3rem);
    text-align: center;
  }

  &:hover {
    box-shadow: 0px 18px 56px 0px #0000000d;
  }
}
