.category {
  margin-top: 18rem;

  &__header {
    position: relative;
    width: 100%;
  }

  &__title {
    display: inline-block;
    @include font-medium-setting(700, 4.6rem, 5.6rem);
    max-width: 35rem;
  }

  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 0 1.6rem;

    &-next {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    a {
      border-radius: 0.4rem;
      display: inline-block;
      @include size-max(4.2rem);
      border: 1px solid $orange;
      padding: 1.18rem 1.7rem;
      transition: all 0.1s ease;
      svg {
        @include size(0.8rem, 1.6rem);
      }

      &:hover {
        background: $orange;

        svg {
          path {
            stroke: $white;
          }
        }
      }
    }
  }

  &__content {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 3rem;
  }

  &__item {
    border-radius: 0.8rem;
    padding: 2.4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    @include column;
    gap: 2.2rem 0;
    cursor: pointer;

    transition: all 0.15s ease;

    &:hover {
      background: #ff5352;
    }

    &:hover &-title {
      color: $white;
    }

    &:hover &-subtitle {
      color: $white;
    }

    &-title {
      display: inline-block;
      max-width: 9.2rem;
      @include font-medium-setting(700, 2rem, 3rem);
    }

    &-subtitle {
      font-family: "Poppins", sans-serif;
      @include font-medium-setting(400, 1.4rem, 2.6rem);
    }
  }

  &__icon {
    svg {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.8rem;
    }
  }
}
