.footer {
  margin-top: 18rem;
  background: $black;

  &__container {
    height: 100%;
    @include column;
  }

  &__wrapper {
    padding: 5rem;
    flex: 1;
    @include space-between;
  }

  &__icons {
    @include column;
    gap: 1.8rem 0;

    &-list {
      display: flex;
      gap: 0 1.6rem;
      img {
        @include size(3rem);
        object-fit: cover;
      }
    }
  }

  &__img {
    @include size(8.3rem, 3.6rem);
  }

  &__list {
    display: flex;
    gap: 0 12rem;

    a {
      color: $white;
      text-decoration: none;
    }

    &-subtitle {
      @include column;
      gap: 0.6rem 0;
    }
  }

  &__item {
    @include column;
    gap: 1.8rem 0;

    &-title {
      font-family: "Poppins", sans-serif;
      @include font-full-setting(600, 1.6rem, 2.8rem, $white);
    }

    &-subtitle {
      font-family: "Poppins", sans-serif;
      @include font-full-setting(300, 1.4rem, 2.6rem, #b3b7c5);
    }
  }

  &__copyright {
    padding: 2.8rem 0;
    border-top: 1px solid #1e253a;
    color: #70737c;
    p {
      font-family: "Poppins", sans-serif;
      @include font-medium-setting(400, 1.4rem, 2.6rem);
      text-align: center;
    }
  }
}
