.header {
  width: 100%;
  margin-top: 3.6rem;
  font-family: "Poppins", sans-serif;
  &__nav {
    @include space-between;
  }

  &__logo {
    @include size(8.3rem, 3.6rem);
  }

  &__hamburger {
    flex-direction: column;
    gap: 0.5rem 0;
    display: none;

    span {
      background: #1e253a;
      display: block;
      @include size(3.5rem, 0.4rem);
    }
  }

  &__menu {
    @include align-center;
  }

  &__link {
    display: flex;
    gap: 0 4rem;
    padding-right: 10rem;
    li {
      @include font-setting(400, 1.6rem);
      a {
        color: $black;
        text-decoration: none;
        opacity: 0.4;
        position: relative;

        &::after {
          content: "";
          @include size(0.7rem);
          position: absolute;
          bottom: -0.6rem;
          left: 50%;
          opacity: 0;
          transform: translateX(-50%);
          background: #ff5352;
          border-radius: 100rem;
        }
      }

      a.active {
        opacity: 1;
        font-weight: 600;

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__btn {
    display: flex;
    gap: 0 2.8rem;
  }
}
