.hero {
  height: 80rem;
  padding-bottom: 6rem;
  background: linear-gradient(
    180deg,
    rgba(247, 248, 255, 0) -15.37%,
    #f1f4ff 100%
  );

  @include column;

  &__container {
    flex: 1;
    @include align-center;
    font-family: "Sen", sans-serif;
  }

  &__content {
    max-width: 60rem;
    @include column;
    gap: 3rem 0;

    h1 {
      @include font-setting(700, 6.6rem);
      line-height: 7.2rem;
    }

    p {
      font-family: "Poppins", sans-serif;
      @include font-full-setting(400, 1.8rem, 3rem, $gray);
    }
  }

  &__search {
    display: flex;
    box-shadow: 0px 16px 52px 0px #00000012;

    input {
      @include font-setting(600, 1.8rem);
      width: 100%;
      padding: 0.8rem 1.4rem;
      outline: none;
      border: none;
    }

    &-btn {
      padding: 2.3rem;
      background: $orange;
    }
  }

  &__image {
    width: 130rem;
    transform: scale(1.2);
    img {
      @include size(100%);
      object-fit: cover;
    }
  }
}
