.jobs {
  margin-top: 18rem;

  &__header {
    text-align: center;
    @include column;
    gap: 1.6rem 0;

    h2 {
      @include font-medium-setting(700, 4.6rem, 5.6rem);
    }

    p {
      display: inline-block;
      max-width: 44.6rem;
      font-family: "Poppins", sans-serif;
      @include font-full-setting(400, 1.6rem, 2.8rem, $gray);
      margin: 0 auto;
    }
  }

  &__list {
    margin-top: 7rem;
    @include grid(3, 2);
    gap: 3rem;
  }

  &__item {
    padding: 3rem 2.2rem;
    border: 1px solid #e3e0e0;
    border-radius: 1rem;
    transition: all 0.15s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 14px 44px 0px #00000012;
    }
  }

  &__title {
    @include font-medium-setting(700, 2.2rem, 3.2rem);
  }

  &__info {
    color: $gray;
    margin-top: 1.6rem;
    @include align-center;
    gap: 0 4.8rem;
  }

  &__data {
    @include align-center;
    gap: 0 0.6rem;

    &-name {
      font-family: "Poppins", sans-serif;
      @include font-medium-setting(400, 1.4rem, 2.6rem);
    }
  }

  &__company {
    margin-top: 3.8rem;
    padding-top: 2.2rem;
    border-top: 1px solid #e9e9ee;
    @include space-between;

    &-info {
      @include align-center;
      gap: 0 1.2rem;
    }

    &-name {
      font-family: "Poppins", sans-serif;
      @include font-medium-setting(600, 1.4rem, 2.6rem);
    }

    &-icon {
      @include size(3.4rem);
    }

    &-update {
      p {
        font-family: "Poppins", sans-serif;
        @include font-full-setting(400, 1.4rem, 2.6rem, $gray);
      }
    }
  }

  &__more {
    margin-top: 5.5rem;
    text-align: center;
  }

  &__btn {
    padding: 1.8rem 4.3rem;
    font-family: "Poppins", sans-serif;
    @include font-full-setting(600, 1.6rem, 2.8rem, $white);
    background: $orange;
    text-decoration: none;
    border-radius: 0.8rem;

    &:hover {
      opacity: 0.8;
    }
  }
}
